<section class="login">
  <form name="myform" 
   ng-submit="login()"
   novalidate>
    <h1>Consent Form</h1>
    <p>Icon Estimation Survery</p>

<div class="consent">
<div>
<p>Adult Consent Form for Research University of Cincinnati</p>
<p>Department: School of Design, College of DAAP</p>
<p>Principal Investigators: Rob Byrd, Xuan Teng, Qingjian Zhao, Yuxin Meng</p>
<p>Title of Study: I2B2 Symbol Comprehension Estiamtion Project</p>
</div>

<div>
<h3>Introduction:</h3>
<p>
This form describes a research project. It has information to help you decide whether or not you wish to partici-
pate. Research studies include only people who choose to take part—your participation is completely voluntary. 
</p>
<p>
You are being asked to take part in this study because we want to include adults who are not students of the study administrators. Please read this paper carefully and ask questions about anything that you do not understand with the project sta before deciding to participate.
</p>


<h3>Who is doing this research study?</h3>
<p>
This research study is being carried out by Master of Design Graduate Students at the University of Cincinnati. There will be other people on the research team helping at dierent times during the study. What is the purpose of this research study? The purpose of this study is to assist designers who are making symbols to be used in health care settings. These symbols will help people understand medical concepts. We are trying to make sure that people from all cultures and degrees of medical literacy can interpret the meanings of the symbols being designed. 
</p>
<p>
To ensure that these symbols are as eective as possible, we need to know which symbols are not understood due to lack of relevant medical knowledge. Understanding why a symbol is not understood can help designers create a symbol that is clearer. Once the symbols are completed, they will be oered to health care practitioners across the United States.
</p>


<h3>Who will be in this research study?</h3>
<p>About 40 people will take part in this study. You may or may not be in this study. Those being asked to take part in this study are because we want to include adults with advanced medical knowledge such as that held by medical students and professionals, and those without advanced medical knowledge such as young adult students studying in a healthcare profession.</p>

<h3>What will you be asked to do in this research study, and how long will it take?</h3>

<p>If you agree to participate, you will be shown a series of symbols that have all been designed to communicate a particular topic. Then you will look at each symbol individually and asked what you think the symbol means and what you might do in response to the symbol. You don’t need to explain your answers. An incorrect or ‘I don’t know’ answer is just as valuable in this study as a correct answer. You will do this for a number of dierent symbols. The full test will take about 25 minutes or less. The research will take place at various locations.</p>

<h3>Are there any risks to being in this research study?</h3>

<p>There are no risks to you for participating in the study. We do not record any personal data about you, other than your level of medical education.</p>

<h3>Are there any benets from being in this research study?</h3>
<p>
You will not receive any direct benet from taking part in this study. We hope that this research will benet society by making hospitals, healthcare facilities, and health information more accessible for people by providing alternative ways to receive information.</p>

<h3>What will you get because of being in this research study?</h3>
<p>
You will not receive anything for your participation, other than knowing you have helped advance knowledge in design.</p>

<h3>
How will your research information be kept condential?</h3>
<p>
Information about you will be kept private. To ensure condentiality to the extent allowed by law, the following measures will be taken: 1) no personal information will be taken to identify you, and 2) our data will be kept in password protected computer les. Agents of the University of Cincinnati may inspect study records for audit or quality assurance purposes.</p>

<h3>How will the information I provide be used?</h3>
<p>
The information you provide will be used for the following purposes: We will share the summarized results of our data we collect with other students and professors of the Master of Design program, to help them make the best and clearest symbols.</p>

<h3>
What are your legal rights in this research study?</h3>

<p>
Nothing in this consent form waives any legal rights you may have. This consent form also does not release the investigators; Rob Byrd, Xuan Teng, Qingjian Zhao, Yuxin Meng the University of Cincinnati, or its agents from liability for negligence. Participating in this study is completely voluntary. You may choose not to take part in the study or to stop participating at any time, for any reason, without penalty or negative consequences. You can skip any questions that you do not wish to answer.</p>

<h3>
What if you have questions about this research study?</h3>
<p>
If you have any questions or concerns about this research study, you should contact Rob Byrd at (513)504-2419 or byrdrb@mail.uc.edu.</p>
<p>
The UC Institutional Review Board reviews all research projects that involve human participants to be sure the rights and welfare of participants are protected. If you have questions about your rights as a participant or complaints about the study, you may contact the UC IRB at (513) 558-5259. Or, you may call the UC Research Compliance Hotline at (800) 889-1547, or write to the IRB, 300 University Hall, ML 0567, 51 Goodman Drive, Cincinnati, OH 45221-0567, or email the IRB oce at irb@ucmail.uc.edu.</p>

<h3>Do you HAVE to take part in this research study?</h3>
<p>
No one has to be in this research study. Refusing to take part will NOT cause any penalty or loss of benets that you would otherwise have. You may start and then change your mind and stop at any time.</p>
<h2>
Agreement:</h2>

<p>I have read this information and have received answers to any questions I asked. I give my consent to participate in this research study. By clicking “I Agree” below I give my consent. I may print this signed and dated consent form to keep.</p>
</div>


    <button type="submit" class="btn"
      ng-disabled="myform.$invalid">I Agree</button>
    
  </form>
</section>